.tarjetasDetail{
    width: 400px;
    margin: 20px;
    height: 300px;
}
.btnFinalizarCompra{
    background-color: #0d6efd;
    color: white;
    text-decoration: none;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    padding: 15px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
.btnFinalizarCompra:hover{
    color: white;
    background-color: blue;
}
.ImgDetail{
    height: 350px;
}
.infoProd{
    margin: 2px;
}
.footerDetail{
    height: 80px;
    position: relative;
}